.sharePopup {
  width: 440px;
  height: 380px;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  padding: 32px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
}

.sharePopup__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #E6E6E6;
}

.sharePopup__copy {
  display: flex;
  justify-content: space-between;
  border: 2px solid #E6E6E6;
  border-radius: 8px;
  padding: 12px 8px;
}
 h1, h2, p {
  margin: 0;
 }
 button {
  padding: 0;
 }